.scrollable-main {
  background-color: #F7F8FA;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  /* Enable vertical scrolling */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
  -webkit-overflow-scrolling: touch;
  /* Improve scrolling performance on iOS */
}

.scrollable-main::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, Edge, and Opera */
}